MATRICULA=seu_numero_de_matricula
PASSWORD=sua_senha_do_portal
CONTATO=5527990000000

# Se usar o Docker, mantenha como /app/boletos
# Se usar local no Windows, coloque o caminho absoluto (Ex: C:\caminho\para\pasta\boletos)
ARQUIVO=/app/boletos

# (Opcional - Apenas usando Docker)
# Define o modo de execução contínua. Exemplo: 24 (para rodar a cada 24 horas). 
# Se omitido ou deixado vazio, o script roda apenas uma vez.
INTERVALO_HORAS=24