# Security
.env

# Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller / Build
build/
dist/
*.spec

# Project Data
boletos/*
!boletos/.gitkeep
auth/*
!auth/.gitkeep

# Tests
*test*

# Docs
docs/
